pokerole-core/TypeGeneration/Structures.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
<xs:schema id="Structures"
	targetNamespace="https://www.pokeroleproject.com/schemas/Structures.xsd"
	elementFormDefault="qualified"
	xmlns="https://www.pokeroleproject.com/schemas/Structures.xsd"
	xmlns:mstns="http://tempuri.org/https://www.pokeroleproject.com/schemas/Structures.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ms="http://microsoft.com/wsdl/types"
	xmlns:ex="https://www.pokeroleproject.com/schemas/ExternalTypes.xsd"
>
	<xs:import schemaLocation="MissingTypes.xsd" namespace="http://microsoft.com/wsdl/types"/>
	<xs:import schemaLocation="ExternalTypes.xsd" namespace="https://www.pokeroleproject.com/schemas/ExternalTypes.xsd"
			   />
	<xs:element name="PokeroleData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CustomTypes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomType" type="ex:ITypeDefinition" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Moves">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Move" type="Move" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Images">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImageRef" type="ImageRef" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Items">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Item" type="Item" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DexEntries">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DexEntry" type="DexEntry" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Abilities">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Ability" type="Ability" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EvolutionTrees">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tree" type="EvolutionTree" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MonInstances">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MonInstance" type="MonInstance" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<!--<xs:element name="DexEntry" type="DexEntry" maxOccurs="unbounded" minOccurs="0"/>-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Move">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Move's description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Power" type="xs:int">
						<xs:annotation>
							<xs:documentation>The power of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveCategory" type="ex:MoveCategory">
						<xs:annotation>
							<xs:documentation>Category of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="ex:ItemReference"  ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>Move Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveTarget" type="ex:MoveTarget">
						<xs:annotation>
							<xs:documentation>What this move targets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ranged" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Whether or not this move is ranged</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryAccuracyStat" type="ex:ItemReference" ex:genericType="ex:IStat">
						<xs:annotation>
							<xs:documentation>Primary stat used for rolling accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryAccuracyIsNegative" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>If true, points missing in the primary stat are used for accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryAccuracyStat" type="ex:ItemReference" ex:genericType="ex:IStat">
						<xs:annotation>
							<xs:documentation>Secondary stat used for rolling accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--<xs:element name="Accuracy" ex:listItemType="ex:ItemReference" ex:genericType="ex:IStat">
						<xs:annotation>
							<xs:documentation>Stats used to roll accuracy for this move</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Stat" maxOccurs="unbounded" type="ex:ItemReference" ex:genericType="ex:IStat" minOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>-->
					<xs:element name="ReducedAccuracy" type="xs:int">
						<xs:annotation>
							<xs:documentation>How many more successes are needed for this attack to hit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageStat" type="ex:ItemReference" ex:genericType="ex:IStat" nillable="true">
						<xs:annotation>
							<xs:documentation>Stat used to roll damage for this move if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryDamageStat" type="ex:ItemReference" ex:genericType="ex:IStat" nillable="true">
						<xs:annotation>
							<xs:documentation>Stat used to roll additional damage for this move if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryDamageIsNegative" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>If true, points missing in the secondary stat are used for damage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageModifier" type="xs:int">
						<xs:annotation>
							<xs:documentation>How many more dice to add to the damage roll pool</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasSpecialAccuracyMod" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Refer to AdditionalInfo if this is true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasSpecialDamageMod" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Refer to AdditionalInfo if this is true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInfo" type="xs:string">
						<xs:annotation>
							<xs:documentation>More information about this move that could not be contained in the other variables</xs:documentation>
						</xs:annotation>
					</xs:element>
				<xs:element name="Effects" ex:listItemType="xs:string">
					<xs:annotation>
						<xs:documentation>List of effects this move causes when it hits</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Effect" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Item">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Item Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Item Description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--<xs:element name="TypeBonus" ex:genericType="ex:ITypeDefinition" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>Types this item gives bonus damage to, if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Type" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TypeBonusValue" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Bonus damage this item grants for the given type(s) if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StrengthBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Strength stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DexterityBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Dexterity stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VitalityBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Vitality stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Special stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsightBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Insight stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DefenseBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Defense stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EvasionBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Evasion stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccuracyBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Accuracy stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecificPokemon" ex:genericType="DexEntry" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>List of pokemon this item is exclusive to if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DexEntry" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="HealAmount" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Hitpoints this item heals if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HealedStatusConditions" ex:genericType="DexEntry" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>List of pokemon this item is exclusive to if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DexEntry" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReviveType" type="ex:ReviveType" nillable="true">
						<xs:annotation>
							<xs:documentation>Kind of revive this item is if it is one</xs:documentation>
						</xs:annotation>
					</xs:element>-->
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomStatEntry">
		<xs:attribute name="Stat" type="xs:string"/>
		<xs:attribute name="Value" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ImageRef">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Filename" type="xs:string"/>
					<xs:element name="Data" type="xs:base64Binary" nillable="true"/>
					<xs:element name="FilePath" type="xs:string" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MegaEvolutionEntry">
		<xs:sequence>
			<xs:element name="Item" type="ex:ItemReference" ex:genericType="Item">
				<xs:annotation>
					<xs:documentation>Item the Pokémon must be holding to perform this megaevolution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetEvolution" type="ex:ItemReference" ex:genericType="DexEntry">
				<xs:annotation>
					<xs:documentation>DexEntry to use when mega-evolved</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MoveEntry">
		<xs:sequence>
			<xs:element name="Move" type="ex:ItemReference" ex:genericType="Move"/>
		</xs:sequence>
		<xs:attribute name="Rank" type="ex:Rank">
			<xs:annotation>
				<xs:documentation>Required rank to learn the given move</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AbilityEntry">
		<xs:sequence>
			<xs:element name="Ability" type="ex:ItemReference" ex:genericType="Ability"/>
		</xs:sequence>
		<xs:attribute name="Hidden" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Whether or not this is a hidden ability</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DexEntry">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="DexNum" type="xs:int">
						<xs:annotation>
							<xs:documentation>The international dex number of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuggestedStarter" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Whether or not this Pokémon is recommended as a starter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryType" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>The primary type of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryType" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition" nillable="true">
						<xs:annotation>
							<xs:documentation>The secondary type of this Pokémon if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Variant" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation>Regional variant of this Pokémon (if applicable) such as "Galaran"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageHeight" type="Height">
						<xs:annotation>
							<xs:documentation>The average height of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageWeight" type="Weight">
						<xs:annotation>
							<xs:documentation>The average weight of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Category" type="xs:string">
						<xs:annotation>
							<xs:documentation>The descriptive category for this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DexDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>The description of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuggestedRank" type="ex:Rank">
						<xs:annotation>
							<xs:documentation>Suggested starting rank of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseHp" type="xs:int">
						<xs:annotation>
							<xs:documentation>The base hp of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryImage" type="ex:ItemReference" ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Primary display image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalShinyImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional shiny images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SpriteImage" type="ex:ItemReference" ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Smaller sprite image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShinyImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Primary display image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsBaby" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Is this a baby pokemon?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpriteShinyImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Smaller sprite image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryFemaleImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Primary female display image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalFemaleImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional female images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalShinyFemaleImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional shiny female images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SpriteFemaleImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Smaller female display image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShinyFemaleImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Shiny female display image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpriteShinyFemaleImage" type="ex:ItemReference" ex:genericType="ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Sprite female display image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalSpriteImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional sprite images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalShinySpriteImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional shiny sprite images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalFemaleSpriteImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional sprite female images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="AdditionalShinyFemaleSpriteImages" ex:listItemType="ItemReference"
								ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Additional shiny sprite female images of this pokemon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Abilities" ex:listItemType="AbilityEntry">
						<xs:annotation>
							<xs:documentation>List of possible abilities this Pokémon can have</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AbilityEntry" type="AbilityEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="BaseEvolution" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>Base evolution of this Dex Entry. If this entry is the base evolution, it should point to itself. If this entry does not evolve, then this is null</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryEggGroup" type="xs:string">
						<xs:annotation>
							<xs:documentation>Primary Egg group</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryEggGroup" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation>Secondary Egg group if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BreedingCounterpart" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>The evolution root of this entry's breedable counterpart if any. The most obvious example is the Nidoran pair</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EvolutionTree" type="ex:ItemReference" ex:genericType="EvolutionTree" nillable="true">
						<xs:annotation>
							<xs:documentation>Evolution tree of this Pokémon if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MegaEvolutionBaseEntry" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>If this is a mega evolution, then what it evolved from, otherwise null</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MegaEvolutions" ex:listItemType="MegaEvolutionEntry">
						<xs:annotation>
							<xs:documentation>List of possible mega evolutions of this Pokémon and their required items if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MegaEvolutionEntry" type="MegaEvolutionEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="MaxStrength" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum strength score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingStrength" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial strength score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxDexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum dexterity score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingDexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial dexterity score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxVitality" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum vitality score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingVitality" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial vitality score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxSpecial" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum special score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingSpecial" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial special score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxInsight" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum insight score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingInsight" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial insight score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GenderType" type="ex:GenderType">
						<xs:annotation>
							<xs:documentation>Oficially avaliable genders for this kind of pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveSet" ex:listItemType="MoveEntry">
						<xs:annotation>
							<xs:documentation>List of moves that this Pokémon can learn</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MoveEntry" type="MoveEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MonInstance">
		<xs:complexContent>
			<xs:extension base="ex:MutableBaseDataItem">
				<xs:sequence>
					<xs:element name="Picture" type="ex:ItemReference" ex:genericType="ImageRef">
						<xs:annotation>
							<xs:documentation>Picture of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Definition" type="ex:ItemReference" ex:genericType="DexEntry">
						<xs:annotation>
							<xs:documentation>The DexEntry that currently defines this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ability" type="ex:ItemReference" ex:genericType="Ability">
						<xs:annotation>
							<xs:documentation>This Pokémon's usual ability</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OveriddenAblity" type="ex:ItemReference" ex:genericType="Ability" nillable="true">
						<xs:annotation>
							<xs:documentation>This Pokémon's current ability if it isn't the usual ability, such as what happens when one gets hit by simple beam</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverridenType1" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition"
								nillable="true">
						<xs:annotation>
							<xs:documentation>Override of this Mon's first type if applicable. To cancel this type, set this to "Typeless"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverridenType2" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition"
								nillable="true">
						<xs:annotation>
							<xs:documentation>Override of this Mon's second type if applicable. To cancel this type, set this to "Typeless"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalTypes" ex:listItemType="ex:ItemReference"
								ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>Any additional types added to this mon, such as by Trick-Or-Treat</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ManualResistances" ex:listItemType="ex:ItemReference"
								ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>Any additional resistances the Gm may add to the character. (E.G. You are now resistant to Fairy type.) List the type more than once to increase the effect</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ManualWeaknesses" ex:listItemType="ex:ItemReference"
								ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>Any additional weaknesses the Gm may add to the character. (E.G. You are now weak to Fairy type.) List the type more than once to increase the effect</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ManualImmunities" ex:listItemType="ex:ItemReference"
								ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>Any additional immunities the Gm may add to the character. (E.G. You are now immune to Fairy type.) Listing the type more than once has no effect.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="HP" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WillPoints" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeldItem" type="ex:ItemReference" ex:genericType="Item">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" ex:listItemType="ex:MonStatus">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MonStatus" type="ex:MonStatus" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="EvasionDice" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClashDice" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Defence" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialDefence" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rank" type="ex:Rank">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Moves" ex:listItemType="MoveEntry">
						<xs:annotation>
							<xs:documentation>List of moves this Pokémon knows</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MoveEntry" type="MoveEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Height" type="Height">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Weight" type="Weight">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Attributes-->
					<xs:element name="Strength" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Vitality" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Special" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Insight" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Stats-->
					<!--Fight-->
					<xs:element name="Brawl" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Channel" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Clash" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Evasion" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Survival-->
					<xs:element name="Alert" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Athletic" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nature" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Stealth" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Social-->
					<xs:element name="Allure" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Etiquette" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intimidate" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Perform" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Taken and modified from https://stackoverflow.com/a/6729836/1366594 -->
					<xs:element name="CustomStats" ex:listItemType="CustomStatEntry">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CustomStatEntry" type="CustomStatEntry" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--<xs:element name="CustomStats" ex:isDict="true" ex:keyType="xs:string" ex:valueType="xs:int">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="CustomStat">
									<xs:complexType>
										<xs:attribute name="key" type="xs:string" use="required" />
										<xs:attribute name="value" type="xs:int" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>

						<xs:unique name="uniqueItem">
							<xs:selector xpath="item"/>
							<xs:field xpath="@key"/>
						</xs:unique>

					</xs:element>-->
					<!--Social Attributes-->
					<xs:element name="Tough" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cool" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Beauty" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Clever" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cute" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MonNature" type="ex:Nature">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Happiness" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loyalty" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BattleCount" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VicoryCount" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Accessories" ex:listItemType="xs:string">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Accessory" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Ribbons" ex:listItemType="xs:string">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Ribbon" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--TODO: Implement-->
	<xs:complexType name="Ability">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Effect" type="xs:string"/>
				</xs:sequence>
				<!--TODO: Implement-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Trainer">
		<xs:complexContent>
			<xs:extension base="ex:MutableBaseDataItem">
				<xs:sequence>
					<xs:element name="CharacterName" type="xs:string" />
					<xs:element name="PlayerName" type="xs:string" />
					<xs:element name="Rank" type="ex:Rank"/>
					<!--Storing as a string for now-->
					<xs:element name="Age" type="xs:string"/>
					<xs:element name="Concept" type="xs:string">
						<xs:annotation>
							<!--add documentaion when a sufficiently short description can be made-->
						</xs:annotation>
					</xs:element>
					<!--confidence is determined by nature, so we don't need to store it-->
					<xs:element name="TrainerNature" type="ex:Nature"/>
					<!--String for now-->
					<xs:element name="Money" type="xs:string"/>
					<!--Max hp can be calculated-->
					<xs:element name="HP" type="xs:int"/>
					<!--Max willpoints can be calucated, currently....-->
					<xs:element name="WillPoints" type="xs:int"/>
					<xs:element name="Party" ex:listItemType="ex:ItemReference" ex:genericType="MonInstance">
						<xs:annotation>
							<xs:documentation>Pokemon in this trainer's party</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" ex:genericType="MonInstance"
											maxOccurs="6" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--Attributes-->
					<xs:element name="Strength" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Vitality" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Insight" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Social Attributes-->
					<xs:element name="Tough" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cool" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Beauty" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Clever" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cute" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Stats-->
					<!--Fight-->
					<xs:element name="Brawl" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Throw" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Evasion" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Weapons" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Survival-->
					<xs:element name="Alert" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Athletic" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nature" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Stealth" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Social-->
					<xs:element name="Allure" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Etiquette" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intimidate" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Perform" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Knowledge-->
					<xs:element name="Crafts" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Lore" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Medicine" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Science" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Achievements" ex:listItemType="xs:string">
						<xs:annotation>
							<xs:documentation>Achivements this trainer has accomplished</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="String" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="MonSeen" type="xs:int"/>
					<xs:element name="MonCaught" type="xs:int"/>
					<xs:element name="Backpack" type="ex:ItemReference" ex:genericType="Backpack"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Backpack">
		<xs:complexContent>
			<xs:extension base="ex:MutableBaseDataItem">
				<xs:sequence>
					<xs:element name="PotionCount" type="xs:int"/>
					<xs:element name="SuperPotionCount" type="xs:int"/>
					<xs:element name="HyperPotionCount" type="xs:int"/>
					<xs:element name="BattleItems" ex:listItemType="ex:ItemReference" ex:genericType="Item">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="OtherItems" ex:listItemType="ex:ItemReference" ex:genericType="Item">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--String for now...-->
					<xs:element name="Badges" ex:listItemType="xs:string">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="String" type="xs:string" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnlikeAbility">
		<xs:sequence>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string">
			<xs:annotation>
				<xs:documentation></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Rival">
		<xs:complexContent>
			<xs:extension base="ex:MutableBaseDataItem">
				<xs:sequence>
					<xs:element name="Picture" type="ImageRef">
						<xs:annotation>
							<xs:documentation>Your Rival's better looking picture</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rank" type="ex:Rank">
						<xs:annotation>
							<xs:documentation>Your Rival's Higher rank</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Your Rival's Famous Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Age" type="xs:string">
							<xs:annotation>
								<xs:documentation>Your Rival's Believed Age</xs:documentation>
							</xs:annotation>
					</xs:element>
					<xs:element name="Concept" type="xs:string">
						<xs:annotation>
							<xs:documentation>Your Rival's Cooler Concept</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--note: Confidence can be derived from nature, so we don't need to store that-->
					<xs:element name="Nature" type="ex:Nature">
						<xs:annotation>
							<xs:documentation>Your Rival's Awesome Nature</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Money" type="xs:string">
						<!--String for now-->
						<xs:annotation>
							<xs:documentation>Your Rival's Money (loaded btw)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HP" type="xs:int">
						<xs:annotation>
							<xs:documentation>Your Rival's untouchable hit points</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WillPoints" type="xs:int">
						<xs:annotation>
							<xs:documentation>Your Rival's seemingly endless willpoints</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Party" ex:listItemType="ex:ItemReference" ex:genericType="MonInstance">
						<xs:annotation>
							<xs:documentation>Your Rival's elite Pokemon party</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ItemReference" type="ex:ItemReference" ex:genericType="MonInstance"
											maxOccurs="6" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Relationship" type="xs:string">
						<xs:annotation>
							<xs:documentation>Your relationship with your rival</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Backgrounds" ex:listItemType="ex:RivalBackground">
						<xs:annotation>
							<xs:documentation>Your Rival's Backgrounds</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RivalBackground" type ="ex:RivalBackground" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Attitude" type="ex:RivalAttitudes">
						<xs:annotation>
							<xs:documentation>Your Rival's Attitude towards you</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="UnlilkeAbilities" ex:listItemType="UnlikeAbility">
						<xs:annotation>
							<xs:documentation>Your Rival's Unlike-Abilities</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="UnlikeAbility" type="UnlikeAbility" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EvolutionEntry">
		<xs:sequence>
			<xs:element name="From" type="ex:ItemReference" ex:genericType="DexEntry">
				<xs:annotation>
					<xs:documentation>What it is being evolved from</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="ex:ItemReference" ex:genericType="DexEntry">
				<xs:annotation>
					<xs:documentation>What it is being evolved to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="ex:EvolutionKind">
				<xs:annotation>
					<xs:documentation>Type of evolution (for quick filtering)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Details" type="xs:string">
				<xs:annotation>
					<xs:documentation>Further details about how the evolution works in JSON. This could be a level number, name of an item, or just about anything really...</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EvolutionTree">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<!--TODO: Implement-->
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of this Evolution list. Typically the root 'mon's species name followed by " Line"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BabyEvolutionItem" type="ex:ItemReference" ex:genericType="Item" nillable="true">
						<xs:annotation>
							<xs:documentation>An what item a parent must be holding to get the baby root of this </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BreedCounterpart" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>Breedable counterpart for this evolution tree if any. The most obvious example is the Nidoran pair. The value will be the root of the couterpart's evolution tree</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BabyItem" type="ex:ItemReference" ex:genericType="Item" nillable="true">
						<xs:annotation>
							<xs:documentation>Type of item a parent must be holding in order to get the baby root of this tree instead of NonBabyRoot, if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NonBabyRoot" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>Egg result if this tree has a BabyItem and neither parent was holding it</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Root" type="ex:ItemReference" ex:genericType="DexEntry">
						<xs:annotation>
							<xs:documentation>Root entry of this evolution tree</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EvolutionEntries" ex:listItemType="EvolutionEntry">
						<xs:annotation>
							<xs:documentation>Evolution entries of this tree</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Entry" type="EvolutionEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Height">
		<xs:attribute name="Units" type="xs:string"/>
		<xs:attribute name="Value" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="Weight">
		<xs:attribute name="Units" type="xs:string"/>
		<xs:attribute name="Value" type="xs:double"/>
	</xs:complexType>
</xs:schema>
