pokerole-core/TypeGeneration/Structures.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
<xs:schema id="Structures"
	targetNamespace="https://www.pokeroleproject.com/schemas/Structures.xsd"
	elementFormDefault="qualified"
	xmlns="https://www.pokeroleproject.com/schemas/Structures.xsd"
	xmlns:mstns="http://tempuri.org/https://www.pokeroleproject.com/schemas/Structures.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ms="http://microsoft.com/wsdl/types"
	xmlns:ex="https://www.pokeroleproject.com/schemas/ExternalTypes.xsd"
>
	<xs:import schemaLocation="MissingTypes.xsd" namespace="http://microsoft.com/wsdl/types"/>
	<xs:import schemaLocation="ExternalTypes.xsd" namespace="https://www.pokeroleproject.com/schemas/ExternalTypes.xsd"
			   />
	<xs:element name="PokeroleData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CustomTypes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomType" type="ex:ITypeDefinition" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Moves">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Move" type="Move" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Items">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Item" type="Item" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DexEntries">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DexEntry" type="DexEntry" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Abilities">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Ability" type="Ability" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EvolutionLists">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EvolutionList" type="EvolutionList" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MonInstances">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MonInstance" type="MonInstance" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<!--<xs:element name="DexEntry" type="DexEntry" maxOccurs="unbounded" minOccurs="0"/>-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Move">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Move's description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Power" type="xs:int">
						<xs:annotation>
							<xs:documentation>The power of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveCategory" type="ex:MoveCategory">
						<xs:annotation>
							<xs:documentation>Category of the move</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="ex:ItemReference"  ex:genericType="ex:ITypeDefinition" ex:isDbLazy="true">
						<xs:annotation>
							<xs:documentation>Move Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveTarget" type="ex:MoveTarget">
						<xs:annotation>
							<xs:documentation>What this move targets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ranged" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Whether or not this move is ranged</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryAccuracySkill" type="ex:ItemReference" ex:genericType="ex:ISkill"
								ex:isDbLazy="true">
						<xs:annotation>
							<xs:documentation>Primary skill used for rolling accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryAccuracyIsNegative" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>If true, points missing in the primary skill are used for accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryAccuracySkill" type="ex:ItemReference" ex:genericType="ex:ISkill"
								ex:isDbLazy="true">
						<xs:annotation>
							<xs:documentation>Secondary skill used for rolling accuracy</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--<xs:element name="Accuracy" ex:isDbLazy="true" ex:listItemType="ex:ItemReference" ex:genericType="ex:ISkill">
						<xs:annotation>
							<xs:documentation>Skills used to roll accuracy for this move</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Skill" maxOccurs="unbounded" type="ex:ItemReference" ex:genericType="ex:ISkill" ex:isDbLazy="true" minOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>-->
					<xs:element name="ReducedAccuracy" type="xs:int">
						<xs:annotation>
							<xs:documentation>How many more successes are needed for this attack to hit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageSkill" type="ex:ItemReference" ex:genericType="ex:ISkill" nillable="true">
						<xs:annotation>
							<xs:documentation>Skill used to roll damage for this move if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageModifier" type="xs:int">
						<xs:annotation>
							<xs:documentation>How many more dice to add to the damage roll pool</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasSpecialAccuracyMod" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Refer to AdditionalInfo if this is true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasSpecialDamageMod" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Refer to AdditionalInfo if this is true</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInfo" type="xs:string">
						<xs:annotation>
							<xs:documentation>More information about this move that could not be contained in the other variables</xs:documentation>
						</xs:annotation>
					</xs:element>
				<xs:element name="Effects" ex:isDbLazy="true" ex:listItemType="xs:string">
					<xs:annotation>
						<xs:documentation>List of effects this move causes when it hits</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Effect" type="xs:string" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Item">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>Item Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>Item Description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeBonus" ex:genericType="ex:ITypeDefinition" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>Types this item gives bonus damage to, if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Type" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TypeBonusValue" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Bonus damage this item grants for the given type(s) if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StrengthBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Strength stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DexterityBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Dexterity stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VitalityBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Vitality stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Special stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsightBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Insight stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DefenseBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Defense stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Special stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DefenseBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Defense stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EvasionBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Evasion stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccuracyBoost" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>The boost this item confers upone the Accuracy stat if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecificPokemon" ex:genericType="DexEntry" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>List of pokemon this item is exclusive to if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DexEntry" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="HealAmount" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Hitpoints this item heals if any</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HealedStatusConditions" ex:genericType="DexEntry" ex:listItemType="ex:ItemReference">
						<xs:annotation>
							<xs:documentation>List of pokemon this item is exclusive to if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DexEntry" maxOccurs="unbounded" minOccurs="0" type="ex:ItemReference"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReviveType" type="ex:ReviveType" nillable="true">
						<xs:annotation>
							<xs:documentation>Kind of revive this item is if it is one</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Height">
		<xs:attribute name="Units" type="xs:string"/>
		<xs:attribute name="Value" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="Weight">
		<xs:attribute name="Units" type="xs:string"/>
		<xs:attribute name="Value" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="CustomSkillEntry">
		<xs:attribute name="Skill" type="xs:string"/>
		<xs:attribute name="Value" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="MegaEvolutionEntry">
		<xs:sequence>
			<xs:element name="Item" type="ex:ItemReference" ex:genericType="Item">
				<xs:annotation>
					<xs:documentation>Item the Pokémon must be holding to perform this megaevolution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TargetEvolution" type="ex:ItemReference" ex:genericType="DexEntry">
				<xs:annotation>
					<xs:documentation>DexEntry to use when mega-evolved</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MoveEntry">
		<xs:sequence>
			<xs:element name="Move" type="ex:ItemReference" ex:genericType="Move"/>
		</xs:sequence>
		<xs:attribute name="Rank" type="ex:Rank">
			<xs:annotation>
				<xs:documentation>Required rank to learn the given move</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AbilityEntry">
		<xs:sequence>
			<xs:element name="Ability" type="ex:ItemReference" ex:genericType="Ability"/>
		</xs:sequence>
		<xs:attribute name="Hidden" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Whether or not this is a hidden ability</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DexEntry">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="DexNum" type="xs:int">
						<xs:annotation>
							<xs:documentation>The international dex number of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuggestedStarer" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Whether or not this Pokémon is recommended as a starter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryType" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition">
						<xs:annotation>
							<xs:documentation>The primary type of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryType" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition" nillable="true">
						<xs:annotation>
							<xs:documentation>The secondary type of this Pokémon if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Variant" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation>Regional variant of this Pokémon (if applicable) such as "Galaran"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageHeight" type="Height">
						<xs:annotation>
							<xs:documentation>The average height of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageWeight" type="Weight">
						<xs:annotation>
							<xs:documentation>The average weight of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Category" type="xs:string">
						<xs:annotation>
							<xs:documentation>The descriptive category for this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DexDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>The description of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuggestedRank" type="ex:Rank">
						<xs:annotation>
							<xs:documentation>Suggested starting rank of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseHp" type="xs:int">
						<xs:annotation>
							<xs:documentation>The base hp of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryImage" type="ex:ImageRef">
						<xs:annotation>
							<xs:documentation>Primary display image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SmallImage" type="ex:ImageRef">
						<xs:annotation>
							<xs:documentation>Smaller display image of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShinyImage" type="ex:ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Primary display image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SmallShinyImage" type="ex:ImageRef" nillable="true">
						<xs:annotation>
							<xs:documentation>Smaller display image of a shiny instance of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Abilities" ex:isDbLazy="true" ex:listItemType="AbilityEntry">
						<xs:annotation>
							<xs:documentation>List of possible abilities this Pokémon can have</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="AbilityEntry" type="AbilityEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="EvolutionList" type="ex:ItemReference" ex:genericType="EvolutionList" ex:isDbLazy="true" nillable="true">
						<xs:annotation>
							<xs:documentation>Evolution line of this Pokémon if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MegaEvolutionBaseEntry" type="ex:ItemReference" ex:genericType="DexEntry" nillable="true">
						<xs:annotation>
							<xs:documentation>If this is a mega evolution, then what it evolved from, otherwise null</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MegaEvolutions" ex:isDbLazy="true" ex:listItemType="MegaEvolutionEntry">
						<xs:annotation>
							<xs:documentation>List of possible mega evolutions of this Pokémon and their required items if any</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MegaEvolutionEntry" type="MegaEvolutionEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="MaxStrength" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum strength score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingStrength" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial strength score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxDexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum dexterity score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingDexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial dexterity score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxVitality" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum vitality score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingVitality" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial vitality score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxSpecial" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum special score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingSpecial" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial special score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxInsight" type="xs:int">
						<xs:annotation>
							<xs:documentation>The maximum insight score this Pokémon can have</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartingInsight" type="xs:int">
						<xs:annotation>
							<xs:documentation>The initial insight score this Pokémon has</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GenderType" type="ex:GenderType">
						<xs:annotation>
							<xs:documentation>Oficially avaliable genders for this kind of pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoveSet" ex:isDbLazy="true" ex:listItemType="MoveEntry">
						<xs:annotation>
							<xs:documentation>List of moves that this Pokémon can learn</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MoveEntry" type="MoveEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MonInstance">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Picture" type="ex:ImageRef">
						<xs:annotation>
							<xs:documentation>Picture of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Definition" type="ex:ItemReference" ex:genericType="DexEntry">
						<xs:annotation>
							<xs:documentation>The DexEntry that currently defines this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of this Pokémon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ability" type="ex:ItemReference" ex:genericType="Ability">
						<xs:annotation>
							<xs:documentation>This Pokémon's usual ability</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OveriddenAblity" type="ex:ItemReference" ex:genericType="Ability" nillable="true">
						<xs:annotation>
							<xs:documentation>This Pokémon's current ability if it isn't the usual ability, such as what happens when one gets hit by simple beam</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverridenType1" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition"
								nillable="true">
						<xs:annotation>
							<xs:documentation>Override of this Mon's first type if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverridenType2" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition"
								nillable="true">
						<xs:annotation>
							<xs:documentation>Override of this Mon's second type if applicable</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverridenType3" type="ex:ItemReference" ex:genericType="ex:ITypeDefinition"
								nillable="true">
						<xs:annotation>
							<xs:documentation>Additional type added to this mon such as by Trick-Or-Treat</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HP" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WillPoints" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeldItem" type="ex:ItemReference" ex:genericType="Item">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" ex:isDbLazy="true" ex:listItemType="ex:MonStatus">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MonStatus" type="ex:MonStatus" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="EvasionDice" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClashDice" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Defence" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialDefence" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rank" type="ex:Rank">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Moves" ex:isDbLazy="true" ex:listItemType="MoveEntry">
						<xs:annotation>
							<xs:documentation>List of moves this Pokémon knows</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MoveEntry" type="MoveEntry" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Height" type="Height">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Weight" type="Weight">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Attributes-->
					<xs:element name="Strength" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dexterity" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Vitality" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Special" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Insight" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Skills-->
					<!--Fight-->
					<xs:element name="Brawl" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Channel" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Clash" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Evasion" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Survival-->
					<xs:element name="Alert" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Athletic" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nature" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Stealth" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Social-->
					<xs:element name="Allure" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Etiquette" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intimidate" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Perform" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--Taken and modified from https://stackoverflow.com/a/6729836/1366594 -->
					<xs:element name="CustomSkills" ex:listItemType="CustomSkillEntry">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CustomSkillEntry" type="CustomSkillEntry" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--<xs:element name="CustomSkills" ex:isDict="true" ex:keyType="xs:string" ex:valueType="xs:int">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="CustomSkill">
									<xs:complexType>
										<xs:attribute name="key" type="xs:string" use="required" />
										<xs:attribute name="value" type="xs:int" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>

						<xs:unique name="uniqueItem">
							<xs:selector xpath="item"/>
							<xs:field xpath="@key"/>
						</xs:unique>

					</xs:element>-->
					<!--Social Attributes-->
					<xs:element name="Tough" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cool" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Beauty" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Clever" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cute" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MonNature" type="ex:Nature">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Happiness" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loyalty" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BattleCount" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VicoryCount" type="xs:int">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Accessories" ex:listItemType="xs:string">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Accessory" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Ribbons" ex:listItemType="xs:string">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Ribbon" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--TODO: Implement-->
	<xs:complexType name="Ability">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Effect" type="xs:string"/>
				</xs:sequence>
				<!--TODO: Implement-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EvolutionList">
		<xs:complexContent>
			<xs:extension base="ex:BaseDataItem">
				<!--TODO: Implement-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
